.cookiealert {
	background: #58585B;
	color: #ffffff;
	padding: 14px 0;
	font: 12px/18px 'Roboto', arial, sans-serif;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999999;
}
.cookiealert .message {
	max-width: 1200px;
	padding: 0 20px 50px 20px;
	margin: 0 auto;
}
.cookiealert .message span.cookie-title {
	display: block;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 6px;
}
.cookiealert .copy-container {
	margin-bottom: 10px;
}
.cookiealert .copy-container a {
	color: #f90;
	text-decoration: underline;
}
.cookiealert .copy-container a:hover {
	text-decoration: none;
}
.cookiealert .copy-container .close a {
	font-size: 16px;
	text-decoration: none;
	font-weight: bold;
}
.cookiealert .copy-container .close a:hover {
	text-decoration: underline;
}
.cookiealert .accept,
.cookiealert .decline {
	display: inline-block;
	vertical-align: bottom;
}
.cookiealert .accept {
	background-color: #78B834;
    padding: 6px 34px 6px;
    border: 1px solid #466b1e;
    margin-right: 10px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    position: relative;
    text-decoration: none;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}
.cookiealert .decline {
	color: #FFFFFF;
	font-size: 12px;
	font-weight: 300;
}
.cookiealert p {
	color: #FFFFFF;
	font-size: 13px;
	line-height: 19px;
	margin-bottom: 0;
}

@media only screen and (min-width: 480px) {
	.cookiealert .message {
		padding: 0 20px;
	}
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 960px) {
	.cookiealert .copy-container {
		margin-right: 20px;
	}
	.cookiealert .accept {
		margin-bottom: 0;
		margin-right: 10px;
	}
}

@media only screen and (min-width: 1200px) {

}
