<?php if(Mage::getStoreConfig('zero1_gdpr/options/enabled')) :?>
	<div id="cookiealert" class="cookiealert" style="display: none;">
		<div class="message">
			<div class="copy-container">
				<span class="cookie-title"><?php echo $this->__('Cookie Policy');?></span>
				<p>
			    	<?php echo $this->__('We use cookies to ensure proper functionality of the shopping cart and checkout process. Only essential cookies are currently enabled.  For a richer experience on our website, please enable full cookie use by clicking the accept button.');?>
			    	<!-- <a href="<?php echo $this->getCmsPageUrl(); ?>"><?php echo $this->__('Review our full cookie policy here.'); ?></a> -->
				</p>
			</div>
			<div class="button-container">
				<a href="javascript:acceptCookieAlert();" class="accept"><?php echo $this->__('Accept');?></a>
				<a href="javascript:declineCookieAlert();" class="decline"><?php echo $this->__('Decline');?></a>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		function closeCookieAlert() {
		    Mage.Cookies.set('cookieAlertClosedFlag', 1, new Date(new Date().getTime() + (1000 * 60 * 60 * 24 * 364)));
		    document.getElementById('cookiealert').style.display = 'none';
		}

		function acceptCookieAlert() {
		    closeCookieAlert();
		    Mage.Cookies.set('cookieAlertState', 1, new Date(new Date().getTime() + (1000 * 60 * 60 * 24 * 364)));
		    loadCookieScript();
		}

		function declineCookieAlert() {
		    closeCookieAlert();
		    Mage.Cookies.set('cookieAlertState', 0, new Date(new Date().getTime() + (1000 * 60 * 60 * 24 * 364)));
		}

		if (!Mage.Cookies.get('cookieAlertClosedFlag')) {
		    document.getElementById('cookiealert').style.display = '';
		}
	</script>
<?php endif;?>