<?php $gtmContainerId = Mage::getStoreConfig('zero1_gdpr/configuration/gtm_container_id');?>

<!-- Google Tag Manager (noscript) - Personal tracking cookies container -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<?php echo $gtmContainerId; ?>" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->